.App {
  background-color:rgb(33,33,33);
  color: rgb(230, 227, 227);
  display: flex;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
  justify-content: space-evenly;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

p, section, a {
  color: rgb(230, 227, 227);
  margin: 0;
  text-decoration: none;
}

* {
  color: rgb(230, 227, 227);
}

/* tr {
  border-bottom: 2px solid black;
} */

/* 
- rgb(0,54,236) azul escuro
- rgb(0,182,255) azul claro
- rgb(102,102,102) cinza claro
- rgb(49,49,49) cinza escuro
- rgb(19,19,19) preto
 */