.header, .footer {
  align-items: center;
  background-color: brown;
  /* border-bottom: 1px solid rgba(110, 110, 110, 0.432); */
  color: black;
  display: flex;
  flex-direction: row;
  font-size: 20pt;
  justify-content: space-around;
  /* padding: 5px; */
  position: fixed;
  width: 100%;
  z-index: 1;
}

.footer {
  top: 92%
}

.header h1, .header h3 {
  /* background-color: #2bafb9af; */
  border-radius: 5px;
  padding: 2px;
}