#home {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  /* margin-bottom: 10px; */
  padding-top: 10px;
}

#about {
  background-color: rgb(138, 103, 15);
  padding: 10px 0;
}

#projects {
  background-color: rgb(25, 112, 4);
  padding: 10px 0 25px 0;
}