#home {
  align-items: center;
  background-color: rgb(59,59,59);
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
  /* margin-bottom: 10px; */
  padding: 9px 0 3px 0;
}

#home h1, #home h3 {
  color: rgb(230, 227, 227);
  font-size: 16pt;
}

.profile-picture {
  border: 2px solid rgb(230,227,227);
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

#about {
  align-items: center;
  color: rgb(230, 227, 227);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
}

.formation {
  padding: 2% 0;
}

#link-trybe {
  text-decoration: underline;
}

.skills {
  align-items: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1%;
}

.skills-tables {
  display: flex;
  justify-content: space-around;
}

.skills-tables table {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0;
}

thead {
  display: flex;
  justify-content: center;
}

th, td {
  text-align: center;
  padding: 8px 15px;
}

.par {
  background-color: rgba(153, 153, 153, 0.322);
  margin: 0;
}

td {
  align-items: center;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;
  padding: 8px 15px;
}

.tech-icon {
  align-self: center;
  height: 50px;
  width: 50px;
}

#projects {
  align-items: center;
  background-color: rgb(59,59,59);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 0 6% 0;
  width: 100%;
}

.projects-navegation {
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  width: 53%;
}

.btn {
  background-color: rgb(13,110,253);
  color: rgb(19,19,19);
  border: none;
  padding: 5px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
}

.card {
  align-items: center;
  background-color: rgb(33,33,33);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  margin: 2% 0;
  padding: 0;
  width: 30%;
}

.project-image {
  border-radius: 5px 5px 0 0;
  height: 50%;
  margin: 0 0 -8px -0.5px;
  width: 100%;
}

.card-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.card-title {
  color: rgb(230,227,227);
  z-index: 1;
  font-size: 13pt;
  padding: 2px;
}

.btn-group {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn-primary {
  padding: 0;
  width: fit-content;
}

.repo-links {
  color: black;
  text-decoration: none;
}

@media screen and ( max-width : 1010px ) {
  .App {
    width: 101%;
  }
  
  .formation, .skills, #home {
    padding: 2%;
  }

  .card {
    align-items: center;
    background-color: rgb(33,33,33);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin: 2% 0;
    padding: 0;
    width: 40%;
  }

  .projects-navegation {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    width: 70%;
  }
}

@media screen and ( max-width : 790px ) {
  .formation, .skills, #home {
    padding: 2%;
  }

  .projects-navegation {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    width: 85%;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
  }

  .card {
    align-items: center;
    background-color: rgb(33,33,33);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin: 2% 0;
    padding: 0;
    width: 45%;
  }
}

@media screen and ( max-width : 550px ) {
  .App {
    width: 102%;
  }

  body {
    padding: 10px;
  }

  #about {
    align-items: center;
    color: rgb(230, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;
  }

  .formation, .skills, #home {
    padding: 2%;
  }

  .skills-tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .projects-navegation {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
    width: 95%;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }

  .card {
    align-items: center;
    background-color: rgb(33,33,33);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-between;
    margin: 2% 0;
    padding: 0;
    width: 55%;
  }
}

@media screen and ( max-width : 355px ) {
  .App {
    width: 103%;
  }
}